<!-- This template can easily be edited (if you know HTML) to make your spread look exactly like you want. -->
<!-- You may place up to twenty cards in this template. -->
<!-- Some examples of what you can do are below. -->
<!-- place <%custom1%> where you want the Name input from the calling form to appear -->
<!-- place <%custom2%> where you want the Question input from the calling form to appear -->
<!-- place <%object1%><%cardimage%> where you want your first card's image path to be displayed  -->
<!-- place <%object1%><%cardname%><BR> where you want your first card's name to be displayed  -->
<!-- place <%object2%><%cardimage%> where you want your second card's image path to be displayed  -->
<!-- Note: the data returned by the tarot.cgi script is contained in the deck.cgi text database file! It can be modified by you. -->
<!-- Note: the tarot fields available in the deck.cgi text database are:  -->
<!-- <%cardimage%> the url path to the image of the selected card (eg: /tarot/images/cardimagesrev/cups03.jpg might be returned by the tarot.cgi script to replace all instances of <%card1%><%cardimage%> in this spreadtemplate.html file)-->
<!-- <%cardblurb%> the text reading for the selected card (eg: "-Achievement and abundance are headed your way <%Name%>." might be returned by the tarot.cgi script to replace all instances of <%card1%><%cardblurb%> in this spreadtemplate.html file) -->
<!-- <%cardname%><BR> the text name of the selected card (eg: "Three of Cups" might be returned by the tarot.cgi script to replace all instances of <%card1%><%cardname%><BR> in this spreadtemplate.html file) -->
<!DOCTYPE HTML PUBLIC "-//SoftQuad Software//DTD HoTMetaL PRO 6.0::19990601::extensions to HTML 4.0//EN" "hmpro6.dtd">
<HTML> 
  <HEAD> 
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">   
	 <TITLE>Chinese Fortune Sticks - Chien Tung - ﻿求籤 (request a stick) / 求簽 (beg a stick)</TITLE>
	 
  </HEAD> 
  <BODY bgcolor="#CCCCCC"> 
  
  <!--
  ﻿求籤 / 求簽 
  -->
    
	 <P><A NAME="top"></A> </P> 
	 <P align="center"><A HREF="#" ONCLICK="window.close()">Close</A> </P> 
	 <H4 align="center">Your Chinese Fortune Sticks - Chien Tung - ﻿求籤 (request a stick) / 求簽 (beg a stick) reading 
     <%custom1%></H4> 
	 <P></P> 
	 <P align="center"><FONT SIZE="+4" COLOR="#006600"><B><%object1%><%objectcharacter%>
</B></FONT></P> 
	 <table border="0" align="center" cellpadding="5" cellspacing="5">
       <tr>
         <td><img src="/cgi/chinesefortunesticks/images/Dragon45.gif" ></td>
         <td><P><FONT SIZE="+1" COLOR="#CC0000">
           <%object1%><%objectblurb%>
         </FONT>.</P>
           <P>Based on
               <%object1%><%objectnumber%>
         </P></td>
       </tr>
     </table>
	 <P><FONT SIZE="+4" COLOR="#006600"><B>		</B></FONT></P>
	 <P>&nbsp;</P> 
	 <P>&nbsp;</P> 
	 <P align="center"><B>Chinese Fortune Stick Reading by:</B> </P> 
	 <TABLE align="center" CELLPADDING="3" CELLSPACING="0" BGCOLOR="#FFFFFF"> 
		<TR> 
		  <TD ALIGN="CENTER"><A HREF="http://www.emogic.com/scriptman/"
			 TARGET="_blank"><IMG SRC="http://www.emogic.com/scriptman/images/banner.gif"
			 ALT="The ScriptMan" WIDTH="468" HEIGHT="60" BORDER="0"></A></TD> 
		  <TD><A HREF="http://www.emogic.com/scriptman/"
			 TARGET="_blank"><IMG SRC="http://www.emogic.com/scriptman/images/monk.gif"
			 ALT="The ScriptMan" WIDTH="105" HEIGHT="104" BORDER="0"></A></TD> 
		</TR> 
  </TABLE> 
	 <P align="center">PERL code Obfuscated by Emogic's
		<A HREF="http://www.emogic.com/software/" TARGET="_blank">Perl Obfuscator</A>
  </P> 
	 <P>&nbsp;</P> 
	 <P>&nbsp;</P> 
	 <P>&nbsp;</P> 
<P>&nbsp;</P> </BODY>
</HTML>